/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

/* ---- base ---- */

html,body{ 
	width:100%;
	height:100%;
  min-height: 100%;
  text-decoration: none;
}

canvas{
  display:block;
  vertical-align:bottom;
}

/* ---- stats.js ---- */

.container {
  width: 70%;
  min-width: 70%;
}

.row {
  overflow: hidden;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #0f0f0f !important;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: 3;
}

#home {
  position: relative;
  z-index: 6;
}

#particles-container {
  position: relative;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.full-height {
  height: 100vh;
  min-height: 100vh;
  overflow-y: scroll !important;
}

.fullscreen {
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
}

.display-table{
    display: table;
    table-layout: fixed;
}

img {
  pointer-events: none;
}


.text, h1 {
  font-size: 7rem !important;
  color: #fff !important;
  font-family: 'Merriweather', serif !important;
  line-height: 120% !important;
}


.tagline, h2, h3, h4, p, li {
  font-family: 'Roboto Mono', monospace, sans-serif !important;
  font-weight: 300 !important;
}

h4, .tagline {
  line-height: 200% !important;
  font-size: 1.8rem !important;
}

.decorative-line {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100px;
  height: 2px;
  background-color: #fff;
}

li, a {
  color:#b2b2b2;
  /* First we need to help some browsers along for this to work.
     Just because a vendor prefix is there, doesn't mean it will
     work in a browser made by that vendor either, it's just for
     future-proofing purposes I guess. */
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  /* ...and now for the proper property */
  transition:.3s;
}
li:hover, a:hover { color:#fff; }

.white {
  color: #fff;
}

.gray {
  color: #b2b2b2;
}

li {
  display: inline-block;
  margin-left: 40px;
}

.active {
  color: #fff !important;
}

a {
  text-decoration: none !important;
}

#navbar {
  height: 10%;
  background: #0f0f0f;
}

.icon {
  height: 50px;
  fill: #b2b2b2;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  /* ...and now for the proper property */
  transition:.3s;
}

.icon:hover {
  fill: #fff;
}

.float-right {
  margin-left: 100
}


.front {
  position: absolute;
  z-index: 1;
}

.back {
  position: relative;
}


#navbar .col-xs-6 {
  margin-left: 30px;
  margin-right: 30px;
}

#navbar .col-xs-6 ul {
  margin-top: 11px;
}

#navbar {
  position: fixed;
  width: 100%;
  min-width: 100%;
  z-index: 2;
  height: 5rem;
}

.container {
  height: 100%;
  min-height: 100%;
}

#intro-container {
  min-height: 85px;
}


@media screen and (max-width: 767px) {
    #intro-container {
      min-height: 170px;
    }
}

@media screen and (max-width: 560px) {
    #intro-container {
      min-height: 120px;
    }
}

@media screen and (max-width: 407px) {
    #intro-container {
      min-height: 180px;
    }
}

@media screen and (max-width: 35rem) {
    h1 {
      font-size: 5rem !important;
    }
    h4, .tagline {
      font-size: 1.8rem !important;
    }
}